<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="UTF-8">

	<meta name="csp-nonce" content="{{ csp_nonce('script') }}" data-turbo-track="reload" />
	<meta name="turbo-visit-control" content="reload" />
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">

	<title>{% block title %}Welcome!{% endblock %}</title>

	{# Favicons #}
	<link rel="icon" type="image/x-icon" href="{{ asset('images/favicons/favicon.ico') }}" />

	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/touch-icon-iphone.webp') }}">
	<link rel="icon" type="image/webp" sizes="32x32" href="{{ asset('images/favicons/icon32.webp') }}">
	<link rel="icon" type="image/webp" sizes="16x16" href="{{ asset('images/favicons/icon16.webp') }}">

	{% block stylesheets %}{% endblock %}

	{% block javascripts %}
		{% block importmap %}{{ importmap('app', { 'nonce': csp_nonce('script') }) }}{% endblock %}
	{% endblock %}
</head>
<body class="h-dvh flex items-center justify-center bg-blue-100 text-blue-900">
	{% block body %}{% endblock %}
</body>
</html>
